.nav-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.nav-tab {
  padding: 1rem;
  background-color: antiquewhite;
}
.display-none {
  display: none;
}
.display-block {
  display: block;
}

.tab-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  width: 100px;
}

.tab-list {
  list-style: none;
  background-color: beige;
  padding-left: 0;
  padding: 1rem;
}

.list-item {
  border: 1px solid #101010;
  padding: 1rem;
}
.list-item:hover {
  background-color: bisque;
  transition: background-color 0.3s ease-out;
}
